<a href="https://colab.research.google.com/github/Sapnaa10/Sapna51/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

age = int(input("Enter your age"))
if 16 <= age < 18:
   print("Eligible for part-time jobs")
elif 18 <= age <= 65:
   print("Eligible for full-time jobs")
else:
   print("Not Eligible for any job yet")

Enter your age44
Eligible for full-time jobs

In [ ]:
age=18
if(age>=18):
  print("eligible");
else:
  print("not eligible");
  print("apply later");

eligible

In [ ]:
a=int(input("enter 1st no"));
b=int(input("enter 2ndno"));
if(a>b):
  print("a is greater");
elif(a<b):
  print("b is greater");
else:
  print("both are equal");

enter 1st no66
enter 2ndno77
b is greater

In [ ]:
s1=int(input("enter s1"))
s2=int(input("enter s2"))
s3=int(input("enter s3"))
s4=int(input("enter s4"))
s5=int(input("enter s5"))
per=(s1+s2+s3+s4+s5)/5
print(per,"%")
if per<35:
  print("fail");
elif per>=35 and per<40:
  print("pass class");
elif per>=40 and per<60:
  print ("second class");
elif per>=60 and 9per<75:
  print ("first class");
else:
  print("distinction");

enter s188
enter s299
enter s377
enter s498
enter s589
90.2 %
distinction

In [ ]:
a=input("enter your choice,whether you want breakfast,lunch or dinner=")
if a=="breakfast":
 choice=input("enter your choice,whether you want western dish or north-indian dish=")
 if choice=="western":
    wd=input("you have 2 choice for western-pancakes or sandwich..enter your choice=")
    if wd=="pancakes":
        print("you have ordered pancakes for breakfast")
    elif wd=="sandwich":
        print("you have ordered sandwich for breakfast")
    else:
        print("no other dish available")
 if choice=="north-indian":
     ni=input("you have 2 choice for north-indian dish-poha or upma...enter your choice=")
     if ni=="poha":
         print("you have ordered poha for breakfast")
     elif ni=="upma":
         print("you have ordered poha for breakfast")
     else:
         print('no other dish available')
if a=="lunch":
    choice=input("enter your choice whether you want south-indian dish or north-indian dish=")
    if choice=="south-indian":
        si=input("you have 2 choice for south-indian dish-mango rasam or banana leaf plate..enter your choice= ")
        if si=="mango rasam":
            print("you have ordered mango rasam for lunch")
        elif si=="banana leaf plate":
            print("you have ordered banana leaf plate for lunch")
        else:
            print("no other dish available for now")
    if choice=="north-indian":
        ni=input("you have 2 choice for north-indian dish-rajma rice or dal rice...enter your choice=")
        if ni=="rajma rice":
            print("you have ordered rajma rice")
        elif ni=="dal rice":
            print("you have ordered dal rice")
        else:
            print("no other food available for now")
if a=="dinner":
    choice=input("enter your choice whether you want south-indian dish or north-indian dish=")
    if choice=="south-indian":
        si=input("you have 2 choice for south-indian dish-korri gassi or bisi bele bhaat...enter your choice= ")
        if si=="korri gassi":
            print("you have ordered")
        elif si=="gassi bisi bele":
            print("you have ordered gassi bisi bele")
        else:
            print("no other food available for now")
    if choice=="north-indian":
        ni=input("you have 2 choice for north-indian dish-kadai paneer with naan or paneer tikka with pulaav...enter your choice=")
        if ni=="kadai paneer with naan":
            print("you have ordered kadai paneer with naan")
        elif ni=="paneer tikka with pulaav":
            print("you have ordered paneer tikka with pulaav")
        else:
            print("no other food available for now")

enter your choice,whether you want breakfast,lunch or dinner=breakfast
enter your choice,whether you want western dish or north-indian dish=north-indian dish

In [ ]:
for i in range(0,101,5):
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
for i in range(0,11):
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
city=["A","B","C"]
for i in city:
  print("I love",i)

I love A
I love B
I love C

In [ ]:
a=("Maldives","dubai")
for i in a:
  print("I love",i)

I love Maldives
I love dubai

In [ ]:
for i in range (10):
  print(i)
else:
  print("for loop ended")

0
1
2
3
4
5
6
7
8
9
for loop ended

In [ ]:
for i in range(10):
  print(i)
  if i==8:
    break
else:
  print("ended")

0
1
2
3
4
5
6
7
8

In [ ]:
i=0
while i<3:
  print("while loop no",i)
  i=i+1
else:
  print("while loop ended")

while loop no 0
while loop no 1
while loop no 2
while loop ended

In [ ]:
a=int(input("enter no"))
for i in range(1,11):
  print(a,"x",i,"=",a*i)

enter no7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
a=int(input("enter no"))
i=0
while i in range(0,10):
  i=i+1
  print(a,"x",i,"=",a*i)

enter no6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# New section

# New section